html,
body{
    height: 100%;
    background-color: red;
}

#cover {
    /*background: #222 url('../img/stars.jpg') center center no-repeat;*/
    background-size: cover;
    background-color: blue;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}