<!doctype html>
<html lang="en">
<head>
    <title>$i18n.getText("cp.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("ws.slink.customer-priority-plugin:customer-priority-plugin-admin")
</head>
<body>
    <form id="admin" class="aui">
        <div class="field-group">
            <label for="projects" style="width: 300px; margin-right: 25px;">$i18n.getText("cp.admin.projects.label")</label>
            <input type="text" id="projects" name="projects" class="text" placeholder="projects...">
        </div>
        <div class="field-group">
            <label for="roles" style="width: 300px; margin-right: 25px;">$i18n.getText("cp.admin.roles.label")</label>
            <input type="text" id="roles" name="roles" class="text" placeholder="roles..." >
        </div>
        <div class="field-group">
            <button onclick="updateConfig();" type='button'>$i18n.getText("cp.admin.save.label")</button>
        </div>
    </form>
</body>
</html>