<!doctype html>
<html lang="en">
<head>
    <title>$i18n.getText("cp.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResourcesForContext("ws.slink.customer-priority.admin")
    <!--
    $webResourceManager.requireResource("ws.slink.customer-priority-plugin:customer-priority-jquery-plugin")
    $webResourceManager.requireResource("ws.slink.customer-priority-plugin:customer-priority-plugin-admin")
    -->
</head>
<body>
    <h1>$i18n.getText("cp.admin.label")</h1>
    <form id="admin" class="aui">
        <div class="field-group">
            <h3 class="h3-css">$i18n.getText('cp.admin.enable-plugin-for-projects')</h3>
            <select id="projects"
                    class="select select-css long-field"
                    name="projects[]"
                    multiple="multiple">
                #foreach($project in $projects)
                    #if ($project.getSelected())
                        <option selected value="$project.getKey()">$project.getName()</option>
                    #else
                        <option value="$project.getKey()">$project.getName()</option>
                    #end
                #end
            </select>
        </div>
        <div class="field-group">
            <h3 class="h3-css">$i18n.getText('cp.admin.enable-plugin-for-roles')</h3>
            <select id="roles"
                    class="select select-css long-field"
                    name="roles[]"
                    multiple="multiple">
                #foreach($role in $roles)
                    #if ($role.getSelected())
                        <option selected value="$role.getId()">$role.getName()</option>
                    #else
                        <option value="$role.getId()">$role.getName()</option>
                    #end
                #end
            </select>
        </div>
        <div class="field-group">
            <h3 class="h3-css">$i18n.getText('cp.admin.custom-field-id.label')</h3>
            <input class="text medium-field" type="text" id="custom-field-id-input" value="$customFieldId" placeholder="$i18n.getText('cp.admin.custom-field-id.placeholder')"/>
        </div>
        <div class="field-group">
            <input onclick="customerPriorityPluginConfigUpdate()" class="aui-button button" type="button" value="$i18n.getText('cp.admin.save.label')" />
        </div>
    </form>
    <br>
    <div id="CustomerPriorityConfig"></div>
    <script>
        AJS.$("#projects").auiSelect2();
        AJS.$("#roles").auiSelect2();
        function customerPriorityPluginConfigUpdate() {
            $cupriAdmin.updatePluginConfig("projects", "roles", "custom-field-id-input");
        }
    </script>
</body>
</html>