<!doctype html>
<html lang="en">
<head>
    <title>$i18n.getText("cp.config.label")</title>
    <meta name="decorator" content="atl.admin" />
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("ws.slink.customer-priority-plugin:customer-priority-plugin-config")
</head>
<body>
    <h1>$i18n.getText("cp.config.label")</h1>
    <form id="config" class="aui">
        <div class="field-group">
            <label for="list1" style="margin-right: 25px;">$i18n.getText("cp.config.list1.label")</label>
            <input type="text" id="list1" name="list1" class="text" placeholder="level 1 customers">
        </div>
        <div class="field-group">
            <label for="list2" style="margin-right: 25px;">$i18n.getText("cp.config.list2.label")</label>
            <input type="text" id="list2" name="list2" class="text" placeholder="level 2 customers" >
        </div>
        <div class="field-group">
            <label for="list3" style="margin-right: 25px;">$i18n.getText("cp.config.list3.label")</label>
            <input type="text" id="list3" name="list3" class="text" placeholder="level 3 customers">
        </div>
        <div class="field-group">
            <label for="list4" style="margin-right: 25px;">$i18n.getText("cp.config.list4.label")</label>
            <input type="text" id="list4" name="list4" class="text" placeholder="level 4 customers">
        </div>
        <div class="field-group">
            <button onclick="updateConfig();" type='button'>$i18n.getText("cp.config.save.label")</button>
        </div>
    </form>
</body>
</html>
