<!doctype html>
<html lang="en">
<head>
    <title>$i18n.getText("cp.config.label")</title>
    <meta name="decorator"            content="admin"/>
    <meta name="projectKey"           content="$projectKey"/>
    <meta name="projectId"            content="$projectId"/>
    <meta name="admin.active.tab"     content="cp-item-cfg"/>
    <meta name="admin.active.section" content="atl.jira.proj.config"/>
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("ws.slink.customer-priority-plugin:customer-priority-plugin-config")
    $webResourceManager.requireResourcesForContext("ws.slink.customer-priority.config")
</head>
<body>
    <h1>$i18n.getText("cp.config.label")</h1>

    <form class="aui" onSubmit="return false;">
        <div class="styles-list" id="styles-list">
            #foreach($style in $configuredStyles)
                <div class="styles-list-row">
                    <div class="styles-list-item styles-list-title" title="$style.description()">$style.id()</div>
                    <div class="styles-list-item styles-list-glance-style-wrapper">
                        <div class="styles-list-glance-style" style='$style.style("glance")' width="100%">
                            $style.text()&nbsp;
                        </div>
                    </div>
                    <div class="styles-list-item styles-list-issue-color" style="background-color: $style.style("issue");">Details</div>
                    <div class="styles-list-item styles-list-list-color" style="background-color: $style.style("list");">List</div>
                    <div class="styles-list-item">
                        <div
                                onclick='editStyle("$style.id()")'
                                title="Edit style"
                                class="aui-icon aui-icon-small aui-iconfont-new-edit style-button style-button-edit">EDIT</div>
                        <div
                                onclick='deleteStyle("$style.id()")'
                                title="Delete style"
                                class="aui-icon aui-icon-small aui-iconfont-trash style-button style-button-delete">DELETE</div>
                    </div>
                    <input type="hidden" class="style-list-reporters" value="$style.reporterStr()" />
                </div>
            #end
        </div>
        <button class="aui-button button"
                id="customer-priority-add-style-button"
                type="submit"
                onclick="createStyle()">
            $i18n.getText('cp.config.button-add.title')
        </button>
    </form>

    <form class="aui" onSubmit="return false;">
        <label for="">$i18n.getText('cp.config.viewers.input.label')</label><br>
        <div>
            <span>
                <input class="text long-field" type="text" id="viewers-input" value="$configuredViewers" placeholder="$i18n.getText('cp.config.viewers.input.placeholder')"/>
            </span>
            <span>
                <button id="viewers-save-button"
                        style="margin-top: 1em;"
                        class="aui-button button"
                        type="submit"
                        onclick="saveViewers()">
                    $i18n.getText('cp.config.viewers.button.title')
                </button>
            </span>
        </div>
        <div class="description">$i18n.getText('cp.config.viewers.input.description')</div>
    </form>


    <!-- pop-up dialogs -->
    <section id="delete-confirm-dialog"
             data-aui-modal="false"
             class="aui-dialog2 aui-dialog2-small aui-dialog2-warning aui-layer"
             role="dialog"
             aria-hidden="true">
        <header class="aui-dialog2-header">
            <h2 class="aui-dialog2-header-main">$i18n.getText('cp.config.style-delete.dialog.title')</h2>
            <a class="aui-dialog2-header-close">
                <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">$i18n.getText('cp.config.style-delete.dialog.close')</span>
            </a>
        </header>
        <div class="aui-dialog2-content">
            <p>$i18n.getText('cp.config.style-delete.dialog.message') '<span id="style-id-to-delete">test</span>'?</p>
        </div>
        <footer class="aui-dialog2-footer">
            <div class="aui-dialog2-footer-actions">
                <button id="confirm-dialog-confirm" class="aui-button aui-button-primary" onclick="confirmDialogSubmit()">$i18n.getText('cp.config.style-delete.dialog.confirm')</button>
                <button id="confirm-dialog-cancel" class="aui-button aui-button-link" onclick="confirmDialogCancel()">$i18n.getText('cp.config.style-delete.dialog.cancel')</button>
            </div>
        </footer>
    </section>
    <section id="style-edit-dialog"
             data-aui-modal="false"
             class="aui-dialog2 aui-dialog2-medium aui-layer"
             role="dialog"
             aria-hidden="true">

        <header class="aui-dialog2-header">
            <h2 class="aui-dialog2-header-main">$i18n.getText('cp.config.style-edit.dialog.title')</h2>
            <a class="aui-dialog2-header-close">
                <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">$i18n.getText('cp.config.style-edit.dialog.close')</span>
            </a>
        </header>

        <div class="aui-dialog2-content">
            <form class="aui">
                <div class="field-group">
                    <label for="edit-style-id">$i18n.getText('cp.config.style-edit.dialog.form.label.style-id')</label>
                    <input class="text long-field" type="text" id="edit-style-id" value="" placeholder="$i18n.getText('cp.config.style-edit.dialog.form.input.style-id.placeholder')"/>
                    <div class="description">$i18n.getText('cp.config.style-edit.dialog.form.label.style-id.description')</div>
                </div>
                <div class="field-group">
                    <label for="edit-style-title">$i18n.getText('cp.config.style-edit.dialog.form.label.style-title')</label>
                    <input class="text long-field" type="text" id="edit-style-title" value="" placeholder="$i18n.getText('cp.config.style-edit.dialog.form.input.style-title.placeholder')"/>
                    <div class="description">$i18n.getText('cp.config.style-edit.dialog.form.label.style-title.description')</div>
                </div>
                <div class="field-group">
                    <label for="edit-glance-style">$i18n.getText('cp.config.style-edit.dialog.form.label.glance-style')</label>
                    <textarea class="textarea" cols="2" rows="8" id="edit-glance-style" placeholder="$i18n.getText('cp.config.style-edit.dialog.form.input.glance-style.placeholder')">
                    </textarea>
##                  <input class="text long-field" type="text" id="edit-glance-style" value="" placeholder="$i18n.getText('cp.config.style-edit.dialog.form.input.glance-style.placeholder')"/>
                    <div class="description">$i18n.getText('cp.config.style-edit.dialog.form.input.glance-style.description')</div>
                </div>
                <div class="field-group">
                    <label for="edit-glance-text">$i18n.getText('cp.config.style-edit.dialog.form.label.glance-text')</label>
                    <input class="text long-field" type="text" id="edit-glance-text" value="" placeholder="$i18n.getText('cp.config.style-edit.dialog.form.input.glance-text.placeholder')"/>
##                    <textarea class="textarea" cols="2" rows="8" id="edit-glance-text" placeholder="$i18n.getText('cp.config.style-edit.dialog.form.input.glance-text.placeholder')">
##                    </textarea>
                    <div class="description">$i18n.getText('cp.config.style-edit.dialog.form.input.glance-text.description')</div>
                </div>
                <div class="field-group">
                    <label for="edit-color-issue">$i18n.getText('cp.config.style-edit.dialog.form.label.issue-color')</label>
                    <input class="text long-field" type="text" id="edit-color-issue" value="" placeholder="$i18n.getText('cp.config.style-edit.dialog.form.input.issue-color.placeholder')"/>
                    <div class="description">$i18n.getText('cp.config.style-edit.dialog.form.input.issue-color.description')</div>
                </div>
                <div class="field-group">
                    <label for="edit-color-list">$i18n.getText('cp.config.style-edit.dialog.form.label.list-color')</label>
                    <input class="text long-field" type="text" id="edit-color-list" value="" placeholder="$i18n.getText('cp.config.style-edit.dialog.form.input.list-color.placeholder')"/>
                    <div class="description">$i18n.getText('cp.config.style-edit.dialog.form.input.list-color.description')</div>
                </div>
                <div class="field-group">
                    <label for="edit-reporters">$i18n.getText('cp.config.style-edit.dialog.form.label.reporters')</label>
                    <input class="text long-field" type="text" id="edit-reporters" value="" placeholder="$i18n.getText('cp.config.style-edit.dialog.form.label.reporters.placeholder')"/>
                    <div class="description">$i18n.getText('cp.config.style-edit.dialog.form.label.reporters.description')</div>
                </div>
            </form>
        </div>

        <footer class="aui-dialog2-footer">
            <div class="aui-dialog2-footer-actions">
                <button id="confirm-dialog-confirm" class="aui-button aui-button-primary" onclick="styleDialogSubmit()">$i18n.getText('cp.config.style-edit.dialog.confirm')</button>
                <button id="confirm-dialog-cancel" class="aui-button aui-button-link" onclick="styleDialogCancel()">$i18n.getText('cp.config.style-edit.dialog.cancel')</button>
            </div>
        </footer>
    </section>

    <script>
        function deleteStyle(styleId) {
            $cupriConfig.deleteStyleConfirmation(styleId);
        }
        function confirmDialogCancel() {
            $cupriConfig.confirmDialogCancel();
        }
        function confirmDialogSubmit() {
            $cupriConfig.confirmDialogSubmit();
        }
        function editStyle(styleId) {
            $cupriConfig.editDialogShow(styleId);
        }
        function createStyle() {
            $cupriConfig.createDialogShow();
        }
        function styleDialogCancel() {
            $cupriConfig.editDialogCancel();
        }
        function styleDialogSubmit() {
            $cupriConfig.editStyleDialogSubmitCallback();
        }
        function saveViewers() {
            $cupriConfig.saveViewers();
        }
    </script>

</body>
</html>
