##$webResourceManager.requireResource("ws.slink.customer-priority-plugin:customer-priority-plugin-panel")
$webResourceManager.requireResourcesForContext("ws.slink.customer-priority.panel")
#if ($panelStyle)
    <div style="$panelStyle">
        $panelText
        #if ($participantsStyle)
            <div style="$participantsStyle">
                $i18n.getText('customer-priority-panel.participants.text')
            </div>
            <div style="height: 1px;"></div>
        #end
    </div>
    <input type="hidden" id="currentIssueKey" value="$issueKey" />
    <script>
        #include("/js/common.js")
        #include("/js/customer-priority-plugin.js")
        AJS.toInit(function() {
            $customerPriority.setIssueColor();
            $customerPriority.updateIssuesList();
        })
    </script>
#end